.places {
  display: grid;
  max-width: 984px;
  margin: 92px auto 0;
  row-gap: 80px;
}

@media screen and (max-width:1023px) {
  .places {
    row-gap: 73px;
    margin: 0;
  }
}

@media screen and (max-width: 767px) {
  .places {
    row-gap: 60px;
  }
}

@media screen and (max-width: 540px) {
  .places {
    row-gap: 50px;
  }
}


