.lead__title {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  
  max-width: 720px;
  margin: 0 auto;
  padding-top: 56px;

  text-align: center;

  color: #FFFFFF;
}

@media screen and (max-width: 1024px){
  .lead__title {
    padding-top: 48px;
  }
}

@media screen and (max-width: 767px) {
  .lead__title {
    min-width: 520px;
    max-width: 591px;
    padding-top: 48px;
    font-size: 70px;
    line-height: 64px;
  }
}

@media screen and (max-width: 540px){
  .lead__title {
    min-width: 288px;
    max-width: 337px;
    font-size: 40px;
    line-height: 44px;
    padding-top: 48px;
  }
}


