.lead__image {
  max-width: 984px;
  margin: 64px auto 0;
  display: block;
  object-fit: cover;
}

@media screen and (min-width: 1024px) {
  .lead__image {
    max-width: 928px;
    margin: 56px auto 0;
  }
}

@media screen and (max-width: 1023px){
  .lead__image {
    max-width: 868px;
    margin: 40px auto 0;
  }
}

@media screen and (max-width: 899px){
  .lead__image {
    max-width: 768px;
    padding-top: 40px;
    position: relative;
    margin: 0;
  }
}

@media screen and (max-width: 767px) {
  .lead__image {
    max-width: 520px;
    padding-top: 56px;
    margin: 0 auto;

  }
}

@media screen and (max-width: 519px) {
  .lead__image {
    max-width: 320px;
    padding-top: 40px;
    position: relative;
    margin: 0 auto;
  }
}
