.place {
margin: 0 auto;
display: grid;
grid-template-columns: 460px 1fr;
grid-template-rows: 1fr;
gap: 48px 40px;
}

.place:nth-child(2n) {
  margin-top: 0;
}

.place:first-child {
  margin-top: 92px;
}

@media screen and (min-width: 320px) and (max-width: 540px) {
  .place {
    max-width: 288px;
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(1, 1fr);
    gap: 32px;
    justify-content: center;
  }
  .place:first-child {
    margin-top: 64px;
  }
}

@media screen and (min-width: 541px) and (max-width: 767px) {
  .place {
    max-width: 541px;
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(1, 1fr);
    gap: 32px;
  }
  .place:first-child {
    margin-top: 64px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px){
  .place {
    max-width: 720px;
    display: grid;
    grid-template-columns: 340px 1fr;
    grid-template-rows: 1fr;
    gap: 28px;
    margin: 0 auto;
  }
  .place:first-child {
    margin-top: 88px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1075px){
  .place {
    max-width: 928px;
    display: grid;
    grid-template-columns: 440px 1fr;
    grid-template-rows: 1fr;
    gap: 32px;
  }
}