.photo-grid__image {
  max-width: 284px;
  max-height: 213px;
  display: block;
}

@media screen and (max-width: 1124px) {
  .photo-grid__image {
    max-width: 300px;
    max-height: 225px;
  }
}

@media screen and (max-width: 1023px) {
  .photo-grid__image {
    max-width: 250px;
    max-height: 190px;
  }
}

@media screen and (max-width: 800px) {
  .photo-grid__image {
    max-width: 352px;
    max-height: 264px;
  }
}

@media screen and (max-width: 600px) {
  .photo-grid__image {
    max-width: 288px;
    max-height: 216px;
  }
}



