.lead__polka {
  margin: 64px auto 0;
}

@media screen and (max-width: 1025px) {
  .lead__polka {
    margin: 56px auto 0;
  }
}

@media screen and (max-width: 767px) {
  .lead__polka {
    margin: 40px auto 0;
  }
}
