.intro__title {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 1.07;

  color: #FFFFFF;
  margin: 92px 0 auto 0;
  max-width: 70%;
}

@media screen and (max-width: 1184px) {
  .intro__title {
    max-width: 690px;
    margin: 88px 0 0;
  }
}

@media screen and (max-width: 1083px) {
  .intro__title {
    margin: 88px 28px 0;
  }
}

@media screen and (max-width: 1023px) {
  .intro__title {
    margin: 88px 24px 0;
    max-width: 720px;
  }
}

@media screen and (max-width: 767px) {
  .intro__title {
    margin: 64px 0 0;
    font-size: 32px;
    line-height: 35px;
  }
}

@media screen and (max-width: 426px) {
  .intro__title {
    margin: 64px 16px 0;
    max-width: 288px;
  }
}







